{
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 80,
    "semi": false,
    "jsxBracketSameLine": false,
    "overrides": [{
        "files": ".prettierrc",
        "options": { "parser": "json" }
    }]
}